*
{
	color : white; /* Tout le texte du site sera écrit en blanc */
	font-family: Arial, Impact, Georgia, Serif; /* La police d'écriture sera l'Arial en priotité puis l'Impact etc... */
}

/* Début codage En-tête du site */
header
{
	background: rgb(134,0,0); /* Couleur du fond d'écran */
	display: flex; /* Pour mettre logo et menu navigation à coté */
	width: 1442px; /* Défini la largeur */
	height: 100px; /* Défini la hauteur */
	margin-left: -10px; /* Marge négative à gauche pour que le site occuppe tout l'espace du navigateur */
	margin-top: -10px; /* Marge négative àau dessus pour que le site occuppe tout l'espace du navigateur */
	overflow: hidden; /* Indique que tous les éléments qui dépasse du header seront coupés */
	align-items: center; /* Centre les éléments de l'en-tête au centre */
}

nav ul
{
    display: flex; /* Pour mettre les éléments du menu de navigation à coté */
    list-style-type: none; /* Pour enlever le soulignagne présent sous éléments menu de navigation */
}

nav li
{
	margin-right: 50px; /* Espace entre les différents éléments du menu de navigation */
}
0
a
{
	text-decoration: none; /* Enlève le soulignagne automatiques des liens */
}
/* Fin codage En-tête site */

section {
top:100;
margin-left: -10px; /* Marge négative à gauche pour que le site occuppe tout l'espace du navigateur */
overflow: hidden; /* Indique que tous les éléments qui dépasse du header seront coupés */
width:1442px;/* Défini la largeur */
height: 650px;/* Défini la hauteur */
background-image: url("fooot.png");
/*background: rgb(134,0,0);*/
}

#DATES
{
width: 500px;
height: 400px;
padding-left: 400px;;
width:650px;
float:center;
margin-top: 200px;
}
aside {
top:100;
left:0;
width:100px;
height: 100px;
}

h2{
	color: black ;
	text-align: center; /* centré */
}

p{
	color: white;
	text-align: center; /* centré */
}