
section {
top:100;
margin-left: -10px; /* Marge négative à gauche pour que le site occuppe tout l'espace du navigateur */
overflow: hidden; /* Indique que tous les éléments qui dépasse du header seront coupés */
width:1442px;/* Défini la largeur */
height: 650px;/* Défini la hauteur */
/*background: rgb(134,0,0);*/
}

#DATES
{
width: 500px;
height: 400px;
padding-left: 400px;;
width:650px;
float:center;
margin-top: 200px;
}
aside {
top:100;
left:0;
width:100px;
height: 100px;
}

h2{
	color: black ;
	text-align: center; /* centré */
}

p{
	color: white;
	text-align: center; /* centré */
}

#section2
{
	background-image: url("fooot.png");
}

