
section {
margin-left: -10px; /* Marge négative à gauche pour que le site occuppe tout l'espace du navigateur */
overflow: hidden; /* Indique que tous les éléments qui dépasse du header seront coupés */
width:1442px;/* Défini la largeur */
height: 650px;/* Défini la hauteur */
background: rgb(134,0,0);
}

h2
{
	margin-top: 0px;
	color: rgb(255,255,255); 
	text-align: center; /* centré */
    font-size: 40px;
    /*opacity: 100;*/
}
#DATES
{
width: 500px;
height: 400px;
padding-left: 400px;
width:650px;
float:center;
margin-top: 200px;
color: rgb(255,255,255);
text-align: center; /* centré */ 
font-size: 20px;  
font-family: Arial Black ;
font-weight: bold;
}



#section2
{
	height: 650px;/* Défini la hauteur */
	width: 1442px;
	background-image: url("fooot.png");
	opacity: 1;
    color: rgb(255,255,255);
    text-align: center; /* centré */ 
    font-size: 20px;  
    font-family: arial Black;
    font-weight: bold;
}

#section3
{
height: 650px;/* Défini la hauteur */
width: 1442px;
background-image: url("titre.png");	
color: rgb(255,255,255);
text-align: center; /* centré */ 
font-size: 20px;  
font-family: arial Black;
font-weight: bold;
}
}

#section4
{
height: 650px;/* Défini la hauteur */
width: 1442px;
background-image: url("coupe.png");
color: rgb(255,255,255);
text-align: center; /* centré */ 
font-size: 20px;  
font-family: arial Black;
font-weight: bold;
}



#section5
{
height: 650px;/* Défini la hauteur */
width: 1442px;
background-image: url("ronaldinho.png");
color: rgb(255,255,255);	
text-align: center; /* centré */ 
font-size: 20px;  
font-family: arial Black;
font-weight: bold;
}
#section6
{
height: 650px;/* Défini la hauteur */
width: 1442px;
background-image: url("ldc.png");
color: rgb(255,255,255);
text-align: center; /* centré */ 
font-size: 20px;  
font-family: arial Black;
font-weight: bold;
}
aside {
top:100;
left:0;
width:100px;
height: 140px;

}