*
{
	color : white; /* Tout le texte du site sera écrit en blanc */
	font-family: Arial, Impact, Georgia, Serif; /* La police d'écriture sera l'Arial en priotité puis l'Impact etc... */
}

/* Début codage En-tête du site */
header
{
	background: rgb(134,0,0); /* Couleur du fond d'écran */
	display: flex; /* Pour mettre logo et menu navigation à coté */
	width: 1442px; /* Défini la largeur */
	height: 100px; /* Défini la hauteur */
	margin-left: -10px; /* Marge négative à gauche pour que le site occuppe tout l'espace du navigateur */
	margin-top: -10px; /* Marge négative àau dessus pour que le site occuppe tout l'espace du navigateur */
	overflow: hidden; /* Indique que tous les éléments qui dépasse du header seront coupés */
	align-items: center; /* Centre les éléments de l'en-tête au centre */
}

nav ul
{
    display: flex; /* Pour mettre les éléments du menu de navigation à coté */
    list-style-type: none; /* Pour enlever le soulignagne présent sous éléments menu de navigation */
}

nav li
{
	margin-right: 50px; /* Espace entre les différents éléments du menu de navigation */
}

a
{
	text-decoration: none; /* Enlève le soulignagne automatiques des liens */
}
/* Fin codage En-tête site */

#conteneur2
{
	font-size: 30px;
	background: rgb(33,33,33); /* Couleur du fond d'écran */
	width: 1442px; /* Défini la largeur */
	height: 100px; /* Défini la hauteur */
	display: flex; /* Pour mettre logo et menu navigation à coté */
	margin-left: -10px; /* Marge négative à gauche pour que le site occuppe tout l'espace du navigateur */
	overflow: hidden; /* Indique que tous les éléments qui dépasse du header seront coupés */
	justify-content: center;
	align-items: center; /* Centre les éléments de l'en-tête au centre */
}

/* Début codage pied de page du site */

footer
{
	width: 1442px;   /* Définit la taille du pied de page */
	height: 145px;
	background: rgb(134,0,0); /* Couleur du pied de page */
	margin-left: -10px;
	margin-top: -10px;
	align-items: center; /* Centre les éléments du pied de page au centre */
}

#Bloc_entier
{
	display: flex;
	height: 145px;
	width: 1442px;
}

#Bloc_gauche
{
	display: flex;
	background: rgb(134,0,0);
	width: 500px;
	align-items: center;
	justify-content: center;
}

#Bloc_droite
{
	display: flex;
	background: rgb(33,33,33);
	width: 942px;
	align-items: center;
	justify-content: center;
}


/* Début codage pied de page du site */